html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  background: url('ricepaper.png');
  background-color: antiquewhite;
  background-attachment: fixed;
  background-repeat: repeat;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.demo-content {
  max-width: 1080px;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}

.demo-cards .demo-separator {
  height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.demo-cards ul {
  padding: 0;
}

.demo-cards h3 {
  font-size: 1em;
}

.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}

.demo-options ul {
  margin: 0;
  list-style-type: none;
}


.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.title-name {
  font-weight: 700 !important;
}

.demo-card-wide.mdl-card {
  width: 98%;
  margin-bottom: 22px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
  background-color: black;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}